[submodule "spirv-to-dxil-sys/native/mesa"]
	path = spirv-to-dxil-sys/native/mesa
	url = https://github.com/chyyran/mesa
	branch = dxbc-rebase-2026

[submodule "spirv-to-dxil-sys/native/directx-headers"]
	path = spirv-to-dxil-sys/native/directx-headers
	url = https://github.com/microsoft/DirectX-Headers
